<app-toolbar></app-toolbar>

<div class="content">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    
    <input pInputText type="text" placeholder="Digite o nome do cliente" class="searchInput" #nomeCliente>
  </span>
  <button pButton type="button" label="Buscar" class="p-button-rounded" icon="pi pi-search" iconPos="left"></button>
  <a routerLink="/cadastrar/cliente">
    <button pButton pRipple type="button" label="Cadastrar cliente" class="p-button-rounded p-button-success" icon="pi pi-plus" iconPos="left" ></button>
  </a>
</div>

<div class="content">
  <ul>
    <li *ngFor="let cliente of clientes">
        <div class="clienteCard"> 
          <p-card>
            <ng-template pTemplate="title">
              <span>{{cliente.nome}}</span>
            </ng-template>
            <ng-template pTemplate="subtitle">
              <span>{{cliente.dataNasc}}</span>
            </ng-template>
            Ultima Visita: {{cliente.ultimaVis}}
            <ng-template pTemplate="footer">
              <a routerLink="/clientes/{{cliente.id}}"><button pButton pRipple type="button" label="Historico" class="p-button-rounded p-button-info" icon="pi pi-book" iconPos="left"></button></a>
              <button pButton pRipple type="button" label="Adicionar Venda" class="p-button-rounded p-button-success pink" icon="pi pi-plus" iconPos="left"></button>
            </ng-template>
          </p-card>
        </div>
      </li>
    </ul>
</div>
