<div id="page-auth">
  <aside>
    <img id="logo" src="../../assets/logo cortada/md3.png" alt="Logotipo Toda Linda Belesaria">
    
  </aside>
  <main>
    <div id="formulario">
      <img src="../../assets/logo cortada/Logo-sem-fundo.png" alt="">
        <div class="separator">
          Usuário
        </div>
        <input type="text"
             placeholder="Digite o seu login"/>
        <div class="separator">
          Senha
        </div>
        <input type="password"
             placeholder="Digite o seu senha"/>
        <button pButton type="button" label="Entrar" class="p-button-rounded pink" onclick="routerLink='/clientes'">
          <!-- <a routerLink="/clientes">Entrar</a> -->
        </button>
    </div>
  </main>