* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #29292e;
}

input, button, textarea {
  font: 400 16px, sans-serif;
}

#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;
   
}

aside {
  flex: 1;

  background-color: #f08080;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 120px;

}

#logo {
  max-width: 450px;
}

main {
  flex: 1;

  padding: 0, 32px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  align-items: stretch;
  text-align: center;
}

input {
  height: 50px;
  border-radius: 8px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #a8a8b3;
}

button.pink {
  margin-top: 16px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #f08080;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

button, input {
  width: 100%;
}

.separator {
  font-size: 14px;
  color: #29292e;
  
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.separator::before {
   content: '';
   flex: 1;
   height: 1px;
   background: #a8a8b3;
   margin-right: 16px;
}

.separator::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #a8a8b3;
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}
