:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.pink {
  margin-top: 16px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #f08080;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  // display: flex;
  align-items: center;
  background-color: #F08080;
  // color: black;
  font-weight: 600;
  img {
    width: 150px;
    left: -45px;
    top: -40px;
    // height: 1px;
    float: left;
    position: absolute;
  }
}

// p-toolbar{
//   // position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 60px;
//   // display: flex;
//   align-items: center;
//   background-color: #F08080;
//   color: #F08080;
//   font-weight: 600;
//   // max-width: 800px;
  
// }


.toolbar img {
  margin: 0 16px;
}

.content {
  display: list-item;
  margin: 82px auto 32px;
  padding: 10px 16px;
  max-width: 1300px;
  flex-direction: column;
  align-items: center;
  background-color: #F08080;
  color: white;
  border-radius: 15px;

  
}

::ng-deep{
  ul{
    // flex-direction: row;
    list-style: none;
    background-color: #F08080;
    height: auto;
  }
}



a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 800px) {

  button {
      margin-bottom: .5rem;
      
    
      &:not(.p-button-icon-only) {
          // display: flex;
          // width: 100%;
          ::ng-deep{
            .p-button-label{
            display: none;
            }
          }
      }
  }

  .p-buttonset {
    .p-button {
        margin-bottom: 0;
    }
  }

}

/* button {
  margin-top: 10px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 0.1rem;
  border-radius: 4px;
  font-size: 1rem;
} */

button{
  margin: 5px;
  
}

span{
  margin: 5px;
}

.clients {
  background-color: white;
  max-width: 500px;
}

span{
  color: black;
}

a{
  // background-color: white;
  // border: black;
  align-items: center;
  
}

.searchInput{
max-width: 800px;
width: 100%;
}

.clientslist{
background-color: black;
height: auto;
width: 100%;
border-radius: 10px;
}

li{
max-width: 400px;
width: 100%;
position: relative;
cursor: pointer;
border-radius: 20px;
// background-color: black;
margin-top: 20px;
margin-bottom: 20px;
float: left;

}




li:hover {
left: .1em;
}

p-card{
width: 500px;
height: 500px;
border-radius: 20;


}

.clienteCard{
border-radius: 50%;
}

// .contentClients{
//   background-color: #F08080;
//   min-height: 500px;

// }

::ng-deep{
.p-card{
  background-image: url("../../assets/Md1.png");
  background-size: 100%;
  background-position: 0;
  // background-color: #F08080;
  width: 350px;

  margin-top: 10px;
  color: blue;
}
ul{
  overflow: auto;
}
li{
}
}
