.toolbar img {
    margin: 0 16px;
  }

.toolbar {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 60px;
// display: flex;
align-items: center;
background-color: #F08080;
// color: black;
font-weight: 600;
img {
    width: 150px;
    left: -45px;
    top: -40px;
    // height: 1px;
    float: left;
    position: absolute;
}
}